<div *ngIf="message">
    <p-dialog [header]="message.title" [(visible)]="message" dismissableMask="true" modal="true" (onShow)="onShow()" (onHide)="onHide()">
        <div style="margin-bottom:50px">
            {{message.content}}
        </div>
        <button style="width:98%;margin:1px " pButton type="button " label="OK" class="ui-button-success" (click)="message=null;onHide()"></button>
    </p-dialog>
</div>





<div style="padding:10px;height:100%;background-color:deepskyblue">

    <!-- <p-organizationChart [value]="data"></p-organizationChart> -->

    <div *ngIf="popuplationService" style="display:flex;">

        <div *ngFor="let tribe of popuplationService.tribes" style="flex-grow:1;width:33%">
            <div *ngIf="tribe">
                <app-tribe-view [tribe]="tribe"></app-tribe-view>
            </div>
        </div>
    </div>

</div>