<div style="padding:10px;height:100%;background-color:deepskyblue">

    <div style="display:flex;justify-content:space-around">
        <div *ngFor="let tribe of popuplationService.tribes" >
            {{tribe.name}} ({{tribe.peoples.length}})

            <div class="card" *ngFor="let currentPerson of tribe.peoples">
                    <!-- <p>TRIBE : {{currentPerson.tribe.name}}</p> -->
                    <b>{{currentPerson.firstName}} {{currentPerson.lastName}} ({{currentPerson.sex}} {{currentPerson.age}} health = {{currentPerson.health}})</b>
                    <p *ngIf="currentPerson.spouse">married to {{currentPerson.spouse.fullName}} childrens {{currentPerson.childrens.length}} ({{currentPerson.fertility}})
                        </p>
                    <!--  <li *ngFor="let item of currentPerson.genome.chromosomes"> 
                        {{item.type}} : {{item.value}} 
                    </li>   -->
                </div>
        </div>
    </div>

    




</div>