.card {
    background-color: wheat;
    padding: 5px;
    margin: 2px;
    width: 160px;
}

.tribe-grid {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background-color: red;
}