<div *ngIf="message">
    <p-dialog [header]="message.title" [(visible)]="message" dismissableMask="true" modal="true" (onShow)="onShow()" (onHide)="onHide()">
        <div style="margin-bottom:50px">
            {{message.content}}
        </div>
        <button style="width:98%;margin:1px " pButton type="button " label="OK" class="ui-button-success" (click)="message=null;onHide()"></button>
    </p-dialog>
</div>

<div style="overflow:hidden;width:100%;height: 150px;position:absolute">
    <div *ngFor="let item of tilesRows; let row = index;">

        <div class="tiles row1">
            <span *ngFor="let col of tilesCols;">
                <app-tile [row]="row" [col]="col"></app-tile>
            </span>
        </div>
        <div class="tiles row2">
            <span *ngFor="let col of tilesCols;">
                <app-tile [row]="row" [col]="col"></app-tile>
            </span>
        </div>

    </div>
</div>
<!-- <div style="box-sizing: border-box" class="tiles row2">
    <app-tile></app-tile>
    <app-tile></app-tile>
    <app-tile></app-tile>
</div>
<div style="box-sizing: border-box" class="tiles row1">
    <app-tile></app-tile>
    <app-tile></app-tile>
    <app-tile></app-tile>
</div>

<div style="box-sizing: border-box" class="tiles row2">
    <app-tile></app-tile>
    <app-tile></app-tile>
    <app-tile></app-tile>
</div>
<div style="box-sizing: border-box" class="tiles row1">
    <app-tile></app-tile>
    <app-tile></app-tile>
    <app-tile></app-tile>
</div> -->

<div style="padding:10px;height:100%;background-color:deepskyblue">

    <!-- <p-organizationChart [value]="data"></p-organizationChart> -->

    <div *ngIf="popuplationService" style="display:flex;">

        <div *ngFor="let tribe of popuplationService.tribes" style="flex-grow:1;width:33%">
            <div *ngIf="tribe">
                <app-tribe-view [tribe]="tribe"></app-tribe-view>
            </div>
        </div>
    </div>

</div>