

<p-toolbar>
    <div class="ui-toolbar-group-left" style="display:flex;justify-content:space-around;width:50%;;align-items:center">
        <p-selectButton [options]="speedOptions" [(ngModel)]="selectedSpeed" (onChange)="onSpeedChange()"></p-selectButton>
        <button pButton type="button" label="Construct" (click)="onPause()"></button>
        <p-dropdown [options]="constructions" [style]="{'width':'300px'}" [(ngModel)]="selectedConstruct" placeholder="Select a constructions"></p-dropdown>
    </div>

    <div class="ui-toolbar-group-right" style="display:flex;justify-content:space-around;width:50%;;align-items:center">
        
        <p *ngIf="population">Population : {{population.length | number}}</p>
        <h4>{{date | date:'longDate'}}</h4>
    </div>
</p-toolbar>