/* You can add global styles to this file, and also import other style files */
html {
    font-family: ProximaNova, Helvetica Neue, helvetica, arial;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    height: 100%; 
}
body {
    padding:0;
    margin:0;
    height: 100%; 
}





.ui-tabview-panel.ui-widget-content {
    padding: 0;
}