<div style="padding:1px" class="ui-g-12 ui-md-4">
    <p-panel [style]="{'text-align':'center'}">
        <p-header>
            <div style="height:40px">
                <i *ngIf="person.condition" class="fa fa-exclamation" aria-hidden="true"></i> {{person.fullName}}
            </div>
        </p-header>
        <img [src]="person.sex=='male'?'assets/avatar-male.png':'assets/avatar-female.png'" width="60">
        <div class="car-detail">
            <i style="margin:0 10px 0 10px" class="fa fa-birthday-cake" aria-hidden="true"></i>{{person.age}}
            <i style="margin:0 10px 0 10px" class="fa fa-heart-o" aria-hidden="true"></i>{{person.health}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <div style="display:flex;justify-content:space-evenly">
            <i class="fa fa-id-card-o" (click)="selectPersonInfo2(person)" style="cursor:pointer"></i>
            <i class="fa fa-search" (click)="selectPersonInfo(person)" style="cursor:pointer"></i>
            <i class="fa fa-tasks" style="cursor:pointer"></i>
        </div>
    </p-panel>
</div>